@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

.home-title {
    font-family: "Oswald";
    color: #44280D;
    font-size: 2em;
}

h4 {
    font-family: "Ubuntu";
    color: #44280D;
    font-size: 1.5em;
}

h2 {
    font-family: "Ubuntu";
    color: #44280D;
    font-size: 1.5em;
}

p {
    font-family: "Oswald";
    color: #44280D;
    font-size: 1.75em;

}
a{
    font-family: "Oswald";
    color: #44280D;
    font-size: 1.5em;
}
body {
    max-width: 1600px;
}

body {
    margin: 0 auto;
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #0DAB76;
    padding: 0%;
    margin: 0%;
}

header {
    background-color: #09733E;
}

nav a:hover {
    background-color: #34B98B;
    border-radius: 30%;
}

nav a {
    background-color: #09733E;
    text-decoration: none;
}

nav a:hover {
    background-color: #0DAB76;
}

.home-title {
    background-color: #34B98B;
}

h4 {
    background-color: #34B98B;
}

.book {
    font-family: "Ubuntu";
    font-size: 1.25em;
    background-color: #0DAB76;
    text-decoration: none;
}

.join {
    background-color: rgba(204, 60, 197, 0);
    text-decoration: none;
    padding: 15px 30px;
}

.book:hover {
    border-radius: 30%;
    background-color: #34B98B
}

.join:hover {
    background-color: #09733E;
}

.msg h2 {
    background-color: #0DAB76;
    line-height: 1.5em;
}

.msg p {
    background-color: #0DAB76;
    line-height: 1.5em;
}

footer {
    background-color: #09733E;
}

footer a {
    background-color: #09733E;
    text-decoration: none;
}

.link:hover {
    background-color: #34B98B;
    border-radius: 30%;
}

.icon {
    width: 80px;
}

.logo {
    width: 80px;
}

nav a {
    text-align: center;
    color: #44280D;
    text-decoration: none;
}

.book {
    text-align: center;
    color: #44280D;
    text-decoration: none;
}

.join {
    text-align: center;
    color: #44280D;
    text-decoration: none;
}

footer a {
    text-align: center;
    color: #44280D;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
    text-decoration: none;
}
.social{
    padding-top: 15px;
}
.insta {
    width: 80px;
    color: #09733e00;
}

.fb {
    width: 80px;
    color: #09733e00;
    border-radius: 25%;
}

.twitter {
    width: 80px;
    color: #09733e00;
    border-radius: 25%;
}

.logo {
    border-radius: 30%;
    padding-top: 5px;
}
.card-img{
    border: 10px solid #44280D;
}
main section img {
    box-sizing: border-box;
}